.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    padding-top: 10px;
    
}

.side-by-side label {
margin: 20px;
padding: 10px 0;
}

.side-by-side label input {

    flex: 2;
    width: 70%;
    min-height: 20px;
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: monospace;
    padding: 0 1rem;
    outline: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #3D6184;
    margin-left: 10px;
}
